header{
    background: #30add1; height: 70px;
}
header ul li {
    float: left;
    padding: 1em;
}
header ul {
    list-style-type: none;
    margin: 0 100px; 
}
main ul {
    list-style-type: square;
}
main ul ul {
    list-style-type: circle;
}

main {
    height:800px;
    margin:100px 200px;
}
footer{
    background: #30add1; height: 70px;
    text-align: center;
    padding: 1em;
}